.oneflight {
    background-color: rgba(0, 0, 200, 0.1);
    padding: 15px 0;
    border: rgba(0,0,255,0.4) solid 1px;
    margin-top: 5px;
}

.form-group {
    display: inline-block;
    vertical-align: top;
}