.login-form {
    padding: 15px 0;
    color: white;
}

.login-form .row > div {
    margin: auto;
}


.login-form .row  .title {
    text-align: center;
    font-size: xx-large;
}

.login-form .row {
    background-color: rgba(0,0,0,0.3);
    border-radius: 4% 0%;
    padding: 15px 0;
}

 .login-form .row input[type="email"]
{
    background: transparent;
    border: none;
}

.login-form .row small{
    color:red;
}

.form-group {
    display: inline-block;
}