
.row > div {
    margin: auto;
}


.row  .title {
    text-align: center;
    font-size: xx-large;
}

.onepsngr {
    background-color: rgba(0, 0, 200, 0.1);
    padding: 15px 0;
    border: rgba(0,0,255,0.4) solid 1px;
    margin-top: 5px;
}

input[type="email"]
{
    background: transparent;
    border: none;
}

small{
    color:red;
}

.form-group {
    display: inline-block;
}