body{
    font-family: Poppins-Regular !important;
    background-image: url('./assets/media/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .2s;
    -webkit-transition: all .2s;
    
}
